@using Microsoft.AspNetCore.Identity
@using Mini_Account_Management_System.Service
@inject SignInManager<IdentityUser> SignInManager
@inject MenuService MenuService
@inject UserManager<IdentityUser> UserManager
@inject Mini_Account_Management_System.Service.PermissionService PermissionService

@{
    var userId = UserManager.GetUserId(User);
    var menu = MenuService.GetUserMenu(userId);
    
    var menuTree = await PermissionService.GetMenuTreeAsync();

}
<partial name="_Menu" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mini_Account_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mini_Account_Management_System.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Mini_Account_Management_System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                       
                            @foreach (var item in menuTree)
                            {
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="@item.Url">@item.DisplayName</a>
                                </li>
                            }
                        </ul>
                        <ul class="navbar-nav ml-auto">
                        @*If the user is signed-in display Logout link*@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-area="Identity" asp-page="/Account/Logout">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                        Logout @User?.Identity?.Name
                                    </button>
                                </form>
                            </li>
                        }

                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                           
                            <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }
                        </ul>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-fixed top-0 end-0 p-3">
            @if (TempData["StatusMessage"] != null)
            {
                <div class="toast show align-items-center text-white bg-success border-0" role="alert">
                    <div class="d-flex">
                        <div class="toast-body">
                            @TempData["StatusMessage"]
                        </div>
                        <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            }
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Mini_Account_Management_System - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-whatever" crossorigin="anonymous"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const toastEl = document.querySelector('.toast');
        if (toastEl) {
            const toast = new bootstrap.Toast(toastEl, { delay: 2000 });
            toast.show();
        }
    });

</script>

